name: Deploy Java Application to Docker Container

on:
  push:
    branches:
      - main  # Thay đổi theo nhánh bạn muốn triển khai

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up JDK
        uses: actions/setup-java@v2
        with:
          java-version: '17'
          distribution: 'adopt'

      - name: Build with Maven
        run: mvn clean install

      - name: Deploy to Docker Container
        env:
          SSH_PRIVATE_KEY: ${{ secrets.SSH_PRIVATE_KEY }}
          HOST: ${{ secrets.HOST }}
          USER: ${{ secrets.USER }}
        run: |
          echo "${{ secrets.SSH_PRIVATE_KEY }}" > private_key.pem
          chmod 600 private_key.pem

          mkdir -p ~/.ssh
          ssh-keyscan -H $HOST >> ~/.ssh/known_hosts

          # Kết nối và triển khai vào container
          ssh -i private_key.pem -p 2222 $USER@$HOST << 'EOF'
            # Sử dụng lệnh để copy file vào container
            docker cp target/my-java-app.jar my_container:/path/to/deploy/  # Đường dẫn tới container
            docker restart my_container  # Khởi động lại container nếu cần
          EOF
      - name: Test Connection
        run: |
          echo "Testing connection to ${{ secrets.HOST }}"
          ping -c 4 ${{ secrets.HOST }} || exit 1